#welcome
  .nnav.text-center
    .brand MotoNet
    .link= link_to 'Про Сайт', '#', class: 'btn btn-sm btn-success'
    .link= link_to 'Створити Компанію', '#', class: 'btn btn-sm btn-success'

  .box.description.text-center
    %h1 Збережи свій час з MotoNet!
    %p Не можеш знайти запчастину для свого MOTA, тратиш багату часу на дзвінки та поїздки по мото-магазинах а за вікном розпал сезону? Рішення є! Достатньо залишити одне повідомлення з потрібною запчастиною із Вами неодмінно зв*яжуться представники мото-запчастин.
    %p= link_to 'Знайти Деталь', '#', class: 'btn btn-lg btn-success'

  .foot.text-center
    %span.glyphicon.glyphicon-copyright-mark
    evrybiont@gmail.com
